LED = {
	'CONTRAST': 50,
}

STARTUP_MESSAGE = {
        "LED Matrix is up and running!",
        "Let's drop me a message via Telegram or Twitter!",
        "@MyFancyLedBot",
}

DATABASE = {
	'NAME': 'led',
	'USER': 'led',
	'PASSWORD': 'led',
	'HOST': 'localhost',
	'PORT': '',
}

TWITTER = {
	'ACTIVE': 'false',
	'C_KEY': '',
	'C_SECRET': '',
	'A_TOKEN': '',
	'A_SECRET': '',
}

TELEGRAM = {
        'ACTIVE': 'false',
	'A_TOKEN': '',
}
