# -*- coding: utf-8 -*-
LED = {
	'CONTRAST': 50,
        'MESSAGE_FORMAT': '[message] // [user] // [provider]',
        'CASCADED': 12,
        'ORIENTATION': -90,
}

STARTUP_MESSAGE = {
        "LED Matrix is up and running!",
        "Let's drop me a message via Telegram or Twitter!",
        "@MyFancyLedBot",
}

DATABASE = {
	'NAME': 'led',
	'USER': 'led',
	'PASSWORD': 'led',
	'HOST': 'localhost',
	'PORT': '',
}

TWITTER = {
	'ACTIVE': 'false',
	'C_KEY': '',
	'C_SECRET': '',
	'A_TOKEN': '',
	'A_SECRET': '',
        'MENTIONS': 'true',
        'USERS': 'true',
        'TWEETS_USERS': {
                'MrXermon',
        },
        'HASHTAGS': 'true',
        'TWEETS_HASHTAGS': {
                '#gpn18'
        },
}

TELEGRAM = {
        'ACTIVE': 'false',
	'A_TOKEN': '',
}
